 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2416px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 90px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  background-image: none;
  width: 659px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 280px;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 61px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 372px;
  grid-gap: 30px;
}

.u-section-1 .u-image-1 {
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  background-position: 52.71% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  height: 721px;
  margin-top: 123px;
  margin-bottom: 0;
}

.u-section-1 .u-icon-1 {
  width: 73px;
  height: 73px;
  color: rgb(235, 186, 22) !important;
  margin: -393px auto 0;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 1120px;
  height: 595px;
  margin: 466px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 70px;
  height: 70px;
  color: rgb(235, 186, 22) !important;
  margin: -332px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2128px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 96px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 303px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    background-position: 48.39% 50%;
  }

  .u-section-1 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-4 {
    height: 588px;
    margin-top: 107px;
  }

  .u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin-top: -326px;
  }

  .u-section-1 .u-image-5 {
    height: 497px;
    margin-top: 395px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin-top: -280px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3056px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1629px;
  }

  .u-section-1 .u-image-4 {
    height: 397px;
    width: 622px;
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -230px;
  }

  .u-section-1 .u-image-5 {
    height: 343px;
    margin-top: 269px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -203px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2128px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-4 {
    height: 345px;
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -326px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -204px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1771px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 744px;
  }

  .u-section-1 .u-image-4 {
    height: 217px;
    margin-top: 74px;
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    width: 32px;
    height: 32px;
    margin-top: -124px;
  }

  .u-section-1 .u-image-5 {
    height: 167px;
    margin-top: 166px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-2 {
    width: 32px;
    height: 32px;
    margin-top: -100px;
  }
}

.u-block-be06-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-be06-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-be06-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-be06-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-be06-50:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-50:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-50:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-be06-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-be06-35:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-35:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-35:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-be06-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-be06-34:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-34:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-34:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-be06-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-be06-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-be06-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-be06-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-be06-56:not([data-block-selected]):not([data-cell-selected]).u-block-be06-56:not([data-block-selected]):not([data-cell-selected]).u-block-be06-56:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-text-2:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-be06-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-be06-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-be06-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-be06-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-be06-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-be06-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-be06-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-be06-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-be06-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-image-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-image-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-image-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-image-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-image-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-3:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-1 .u-image-3:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-2 {
  background-image: none;
  min-height: 1943px;
}

.u-section-2 .u-shape-1 {
  height: 820px;
  margin-top: -92px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-1 {
  width: 1140px;
  height: 1753px;
  grid-gap: 17px;
  margin: -658px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 41px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1557px;
  }

  .u-section-2 .u-shape-1 {
    height: 519px;
    margin-top: -126px;
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
    height: 1448px;
    margin-top: -363px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1233px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
    height: 1113px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3606px;
  }

  .u-section-2 .u-shape-1 {
    height: 1132px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    margin-top: -834px;
    height: 839px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 577px;
  }

  .u-section-2 .u-shape-1 {
    height: 209px;
    margin-top: -65px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    height: 535px;
    margin-top: -161px;
    margin-bottom: 59px;
  }
} .u-section-3 {
  min-height: 1184px;
}

.u-section-3 .u-shape-1 {
  height: 719px;
  margin: 0;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  margin: -631px 118px 0;
}

.u-section-3 .u-gallery-1 {
  height: 844px;
  width: 1124px;
  grid-gap: 10px;
  margin: 85px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 36.34%;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 55.52%;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-back-image-7 {
  object-position: 50% 64.33%;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-10 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding: 30px 0 0;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 11px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 11px;
  padding: 10px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 989px;
  }

  .u-section-3 .u-shape-1 {
    height: 487px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: 805px;
    font-size: 5rem;
    margin-top: -401px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-gallery-1 {
    width: 956px;
    height: 688px;
    margin: 87px calc(((100% - 940px) / 2)) 40px calc(((100% - 940px) / 2) + -16px);
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 55px;
    height: 55px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 100vh;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
    margin-top: -510px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
    height: 533px;
    margin: 42px calc(((100% - 720px) / 2)) 60px auto;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 37px;
    height: 37px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 37px;
    height: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    margin-top: 188px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 32px;
    height: 32px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 450px;
  }

  .u-section-3 .u-shape-1 {
    height: 223px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -223px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    height: 205px;
    margin-top: 81px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 30px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 12px;
    height: 12px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 12px;
    height: 12px;
  }
}.u-block-d492-5 {
  position: absolute;
  inset: auto calc(50% + -131.325px) 31.3375px auto;
  width: auto;
  height: auto;
}

.u-block-d492-3 {
  position: absolute;
  left: 0;
}

.u-block-d492-4 {
  position: absolute;
  right: 0;
}

 .u-section-4-1 {
  background-image: none;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-4-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 238px 0 0;
}

.u-section-4-1 .u-icon-1 {
  width: 133px;
  height: 133px;
  background-image: none;
  margin: 62px 64px 34px auto;
  padding: 27px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-4-1 .u-text-1 {
    width: auto;
    margin-top: 148px;
  }

  .u-section-4-1 .u-icon-1 {
    width: 111px;
    height: 111px;
    margin-top: 0;
    margin-right: 61px;
    margin-bottom: 17px;
    padding: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 142px;
  }

  .u-section-4-1 .u-icon-1 {
    width: 88px;
    height: 88px;
    margin-top: 41px;
    margin-right: 47px;
    margin-bottom: 13px;
    padding: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 1.75rem;
    margin-top: 30px;
  }

  .u-section-4-1 .u-icon-1 {
    width: 55px;
    height: 55px;
    margin-top: -25px;
    margin-right: 17px;
    margin-bottom: 6px;
    padding: 10px;
  }
}

 .u-section-4-2 {
  background-image: none;
}

.u-section-4-2 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-image-1 {
    min-height: 190px;
  }
}

.u-section-4-3 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-4-4 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-4 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4-4 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-4-4 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-4 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-4-5 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-5 .u-image-1 {
    min-height: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-4-5 .u-image-1 {
    min-height: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-4-5 .u-image-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-4-5 .u-image-1 {
    min-height: 185px;
  }
}

.u-section-4-6 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-6 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4-6 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-4-6 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-6 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-4-7 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-7 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4-7 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-4-7 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-7 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-4-8 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-8 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4-8 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-4-8 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-8 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-4-9 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-9 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4-9 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-4-9 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-9 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-4-10 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4-10 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-4-10 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-4-10 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-10 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-4-11 .u-sheet-1 {
  min-height: 624px;
}

.u-section-4-11 .u-image-1 {
  width: 1138px;
  height: 624px;
  margin: -1px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-4-11 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-4-11 .u-image-1 {
    width: 940px;
    height: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-4-11 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-4-11 .u-image-1 {
    width: 720px;
    height: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-4-11 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-4-11 .u-image-1 {
    width: 540px;
    height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-4-11 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-4-11 .u-image-1 {
    width: 340px;
    height: 186px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 679px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 24px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 814px;
  margin: 110px auto 0;
}

.u-section-5 .u-form-1 {
  background-image: none;
  height: 112px;
  width: 878px;
  margin: 40px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
}

.u-section-5 .u-list-1 {
  grid-auto-rows: 100%;
  margin: 134px auto 34px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-auto-columns: calc(50% - 10px);
  grid-gap: 20px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-5 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-5 .u-icon-2 {
  vertical-align: 0px;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 173px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 85px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: 109px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}