 .u-section-1 {
  background-position: 50% 50%;
  min-height: 1422px;
}

.u-section-1 .u-group-1 {
  width: 607px;
  height: 607px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 33px auto 0 calc(((100% - 1140px) / 2) + 267px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 111px 13px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 51px 49px 0;
}

.u-section-1 .u-image-1 {
  height: 699px;
  margin: 83px 0 1px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1330px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 84px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1263px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    height: 540px;
    margin-top: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 21px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 71.72% 50%;
    min-height: 1079px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    height: 340px;
    margin-top: 42px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 8px;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 94px;
    object-position: 0% 50%;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1837px;
}

.u-section-2 .u-text-1 {
  margin: 57px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}.u-block-f716-5 {
  position: absolute;
  top: auto;
  bottom: 28px;
}

.u-block-f716-3 {
  position: absolute;
  left: 0;
}

.u-block-f716-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55));
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 380px;
  margin: 53px auto 0;
}

.u-section-3-1 .u-text-2 {
  background-image: none;
  font-size: 3rem;
  margin: 16px 10px 0;
}

.u-section-3-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 10px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    font-size: 2.8125rem;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-1 .u-btn-1 {
    margin-top: 30px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 610px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: -41px;
    margin-right: -41px;
  }

  .u-section-3-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3-1 .u-btn-1 {
    margin-top: 10px;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55));
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 651px;
}

.u-section-3-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 380px;
  margin: 55px auto 0;
}

.u-section-3-2 .u-text-2 {
  margin: 69px 10px 0;
}

.u-section-3-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 138px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-btn-1 {
    margin-top: 56px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-3-2 .u-btn-1 {
    margin-top: 15px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55));
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 651px;
}

.u-section-3-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 380px;
  margin: 55px auto 0;
}

.u-section-3-3 .u-text-2 {
  letter-spacing: normal;
  font-size: 3rem;
  margin: 69px 10px 0;
}

.u-section-3-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 140px auto 48px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-3-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-3 .u-btn-1 {
    margin-top: 56px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-3-3 .u-text-2 {
    letter-spacing: 0px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3-3 .u-text-2 {
    margin-top: 70px;
    margin-left: -6px;
    margin-right: -6px;
    font-size: 1.875rem;
  }

  .u-section-3-3 .u-btn-1 {
    margin-top: 140px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1584px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 80px 292px 0 45px;
}

.u-section-4 .u-text-2 {
  margin: 34px 0 0 45px;
}

.u-section-4 .u-text-3 {
  text-decoration: underline !important;
  margin: 56px 0 0 45px;
}

.u-section-4 .u-text-4 {
  margin: 34px 0 0 45px;
}

.u-section-4 .u-text-5 {
  margin: 90px 0 0 45px;
}

.u-section-4 .u-text-6 {
  text-decoration: underline !important;
  margin: 45px 0 0 45px;
}

.u-section-4 .u-text-7 {
  text-decoration: underline !important;
  margin: -51px -12px 0 -1039px;
}

.u-section-4 .u-text-8 {
  margin: 45px 0 60px 45px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1806px;
  }

  .u-section-4 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-4 .u-text-2 {
    width: 803px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 111px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1948px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 68px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 80px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2348px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 100px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 13px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3103px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 24px;
    margin-bottom: 36px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 2032px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 65px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 12px));
  min-height: 1664px;
  grid-gap: 24px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 4px 456px 0 0;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 0 50px 0 10px;
}

.u-section-5 .u-image-1 {
  height: auto;
  margin: 0 30px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 4px 456px 0 0;
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 0 50px 0 10px;
}

.u-section-5 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 33px 456px 0 0;
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  margin: 0 50px 0 10px;
}

.u-section-5 .u-image-3 {
  height: auto;
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 33px 456px 0 0;
  padding: 0;
}

.u-section-5 .u-text-9 {
  font-style: italic;
  font-size: 1rem;
  margin: 0 50px 0 10px;
}

.u-section-5 .u-image-4 {
  height: auto;
  margin-top: -33px;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-5 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-10 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: 4px 427px 0 0;
  padding: 0;
}

.u-section-5 .u-text-11 {
  font-style: italic;
  font-size: 1rem;
  margin: 0 50px 0 10px;
}

.u-section-5 .u-image-5 {
  height: auto;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-6 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-12 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  border-style: solid;
  margin: 4px 427px 0 0;
  padding: 0;
}

.u-section-5 .u-text-13 {
  font-style: italic;
  font-size: 1rem;
  margin: 0 50px 0 10px;
}

.u-section-5 .u-image-6 {
  height: auto;
  margin-top: 31px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1968px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1374px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 256px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 256px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    height: NaNpx;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 256px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    height: NaNpx;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 256px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    height: NaNpx;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 227px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-5 {
    height: NaNpx;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 227px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-6 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 4289px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 36px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 36px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 36px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 36px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 7px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 7px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    min-height: 3247px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    min-height: 2089px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-12 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2032px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 65px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 12px));
  min-height: 1664px;
  grid-gap: 24px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 4px 456px 0 0;
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: auto;
  margin: 64px 30px 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 4px 456px 0 0;
  padding: 0;
}

.u-section-6 .u-image-2 {
  height: auto;
  margin: 64px 30px 0;
}

.u-section-6 .u-list-item-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 4px 456px 0 0;
  padding: 0;
}

.u-section-6 .u-image-3 {
  height: auto;
  margin: 64px 30px 0;
}

.u-section-6 .u-list-item-4 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 4px 456px 0 0;
  padding: 0;
}

.u-section-6 .u-image-4 {
  height: auto;
  margin: 64px 30px 0;
}

.u-section-6 .u-list-item-5 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: 4px 456px 0 0;
  padding: 0;
}

.u-section-6 .u-image-5 {
  height: auto;
  margin: 64px 30px 0;
}

.u-section-6 .u-list-item-6 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  border-style: solid;
  margin: 4px 456px 0 0;
  padding: 0;
}

.u-section-6 .u-image-6 {
  height: auto;
  margin: 64px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1968px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1374px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 256px;
  }

  .u-section-6 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 256px;
  }

  .u-section-6 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 256px;
  }

  .u-section-6 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-4 {
    margin-right: 256px;
  }

  .u-section-6 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 256px;
  }

  .u-section-6 .u-image-5 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-6 {
    margin-right: 256px;
  }

  .u-section-6 .u-image-6 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 4289px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 36px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 36px;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 36px;
  }

  .u-section-6 .u-btn-4 {
    margin-right: 36px;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 36px;
  }

  .u-section-6 .u-btn-6 {
    margin-right: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    min-height: 3247px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    min-height: 2089px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-1 {
    margin-top: 96px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 559px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-image-1 {
  min-height: 400px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  color: rgb(235, 186, 22) !important;
  height: 64px;
  margin: 134px auto 0;
}

.u-section-7 .u-image-2 {
  min-height: 400px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-icon-2 {
  color: rgb(235, 186, 22) !important;
  width: 64px;
  height: 64px;
  margin: 134px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 71px;
  }

  .u-section-7 .u-image-1 {
    min-height: 330px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 330px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 0;
    margin-right: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-7 .u-image-1 {
    min-height: 253px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 68px;
  }

  .u-section-7 .u-image-2 {
    min-height: 253px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-7 .u-image-1 {
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 43px;
  }

  .u-section-7 .u-image-1 {
    min-height: 267px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 267px;
  }
} .u-section-8 {
  background-position: 50% 0%;
}

.u-section-8 .u-sheet-1 {
  min-height: 808px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  font-weight: 700;
  margin: 373px 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-8 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(235, 186, 22) !important;
  margin: -39px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 223px;
  }

  .u-section-8 .u-icon-2 {
    margin-top: -52px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 240px;
    margin-right: auto;
  }

  .u-section-8 .u-icon-2 {
    margin-top: -172px;
  }
}.u-block-69a1-5 {
  position: absolute;
  inset: auto calc(50% + -131.325px) 31.3375px auto;
}

.u-block-69a1-3 {
  position: absolute;
  left: 0;
}

.u-block-69a1-4 {
  position: absolute;
  right: 0;
}

 .u-section-9-1 {
  background-image: none;
}

.u-section-9-1 .u-sheet-1 {
  min-height: 703px;
}

.u-section-9-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 272px 0 0;
}

.u-section-9-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 167px 45px 41px auto;
  padding: 13px;
}

@media (max-width: 991px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-9-1 .u-text-1 {
    width: auto;
    font-size: 3.125rem;
    margin-top: 142px;
  }

  .u-section-9-1 .u-icon-1 {
    margin-top: 48px;
    margin-right: 25px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-9-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 16px;
  }

  .u-section-9-1 .u-icon-1 {
    margin-top: -27px;
    margin-right: -19px;
    margin-bottom: 1px;
  }
}

 .u-section-9-2 {
  background-image: none;
}

.u-section-9-2 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-2 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-9-2 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-9-2 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-2 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-9-3 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-3 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-9-3 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-9-3 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-3 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-9-4 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-4 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-9-4 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-9-4 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-4 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-9-5 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-5 .u-image-1 {
    min-height: 474px;
  }
}

@media (max-width: 991px) {
  .u-section-9-5 .u-image-1 {
    min-height: 393px;
  }
}

@media (max-width: 767px) {
  .u-section-9-5 .u-image-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-9-5 .u-image-1 {
    min-height: 185px;
  }
}

.u-section-9-6 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-6 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-9-6 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-9-6 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-6 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-9-7 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-7 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-9-7 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-9-7 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-7 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-9-8 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-8 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-9-8 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-9-8 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-8 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-9-9 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-9 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-9-9 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-9-9 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-9 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-9-10 .u-image-1 {
  min-height: 624px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-9-10 .u-image-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-9-10 .u-image-1 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-9-10 .u-image-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-10 .u-image-1 {
    min-height: 186px;
  }
}

.u-section-9-11 .u-sheet-1 {
  min-height: 624px;
}

.u-section-9-11 .u-image-1 {
  width: 1138px;
  height: 624px;
  margin: -1px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-9-11 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-9-11 .u-image-1 {
    width: 940px;
    height: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-9-11 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-9-11 .u-image-1 {
    width: 720px;
    height: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-9-11 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-9-11 .u-image-1 {
    width: 540px;
    height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-9-11 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-9-11 .u-image-1 {
    width: 340px;
    height: 186px;
  }
} .u-section-10 {
  background-image: none;
  min-height: 1059px;
}

.u-section-10 .u-shape-1 {
  height: 219px;
  background-image: none;
  margin: 104px 0 0;
}

.u-section-10 .u-list-1 {
  width: 850px;
  margin: -149px auto 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 251px;
  grid-gap: 20px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-10 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-10 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-10 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: 23px auto 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 471px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-form-1 {
  margin: 0;
}

.u-section-10 .u-label-1 {
  font-weight: 700;
}

.u-section-10 .u-label-2 {
  font-weight: 700;
}

.u-section-10 .u-label-3 {
  font-weight: 700;
}

.u-section-10 .u-btn-2 {
  letter-spacing: 3px;
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  padding: 14px 0 15px;
}

.u-section-10 .u-layout-cell-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-8 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 184px;
  min-width: 88px;
  margin: 90px auto 0 14px;
}

.u-section-10 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-10 .u-icon-5 {
  color: rgb(0, 0, 0) !important;
}

.u-section-10 .u-icon-6 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-10 .u-btn-3 {
  font-weight: 700;
  background-image: none;
  font-size: 1rem;
  margin: 67px auto 0 14px;
}

.u-section-10 .u-icon-7 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 902px;
  }

  .u-section-10 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 92px;
    margin-left: 11px;
  }

  .u-section-10 .u-btn-3 {
    font-size: 1.5rem;
    border-style: solid;
    margin-top: -59px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 1321px;
  }

  .u-section-10 .u-shape-1 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-list-1 {
    width: 350px;
    margin-top: -375px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 671px;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-10 .u-btn-3 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1887px;
  }

  .u-section-10 .u-shape-1 {
    height: 896px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 2097px;
  }

  .u-section-10 .u-shape-1 {
    height: 930px;
    margin-top: 74px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
    margin-top: -860px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 16px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-10 .u-text-7 {
    width: auto;
    margin-left: auto;
  }

  .u-section-10 .u-text-8 {
    width: auto;
    margin-top: 18px;
    margin-right: -19px;
    margin-left: 29px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 15px;
    margin-left: 78px;
  }

  .u-section-10 .u-btn-3 {
    margin-top: 60px;
    margin-left: auto;
  }
}